*.class
*.log
.classpath
.project
bin

*.iml
.idea/

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.cache
.worksheet/src/com.sqsfork.Worker.scala
src/main/scala/com/sqsfork/Worker.sc
